<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Question <%= qno %> </h4>
        <p class="card-description">
          <%= quests.question %>
        </p>
        <form class="forms-sample" action="" method="POST">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-radio">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="answer" value="A" >
                    <%= quests.optionA %>
                  </label>
                </div>
                <div class="form-radio">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="answer" value="B">
                    <%= quests.optionB %>
                  </label>
                </div>
                <div class="form-radio">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="answer" value="C" >
                    <%= quests.optionC %>
                  </label>
                </div>
                <div class="form-radio">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="answer" value="D" >
                    <%= quests.optionD %>
                  </label>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-rounded btn-success" value="Submit">                            
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>